<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControleurMain</servlet-name>
        <servlet-class>controleurs.ControleurMain</servlet-class>
        <init-param>
            <param-name>modifier-force</param-name>
            <param-value>controleurs.secondaires.ModificationPseudoCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>detail-panier</param-name>
            <param-value>controleurs.secondaires.DetailPanierCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>operations-panier</param-name>
            <param-value>controleurs.secondaires.OperationsPanierCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>se-connecter</param-name>
            <param-value>controleurs.secondaires.ConnexionCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>catalogue</param-name>
            <param-value>controleurs.secondaires.CatalogueCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>vers-login-form</param-name>
            <param-value>controleurs.secondaires.VersLoginFormCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>detail-produit</param-name>
            <param-value>controleurs.secondaires.DetailProduitCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>menu-main</param-name>
            <param-value>controleurs.secondaires.MenuMainCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>creer-donnees</param-name>
            <param-value>controleurs.secondaires.CreerDonnees</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleurMain</servlet-name>
        <url-pattern>/ControleurMain</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>GestionClient</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionsBeans.GestionClientLocal</local>
        <ejb-link>magasinEJB-ejb.jar#GestionClient</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionClient1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionsBeans.GestionClientLocal</local>
        <ejb-link>magasinEJB-ejb.jar#GestionClient</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionCatalogue</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionsBeans.GestionCatalogueLocal</local>
        <ejb-link>magasinEJB-ejb.jar#GestionCatalogue</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionCatalogue1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionsBeans.GestionCatalogueLocal</local>
        <ejb-link>magasinEJB-ejb.jar#GestionCatalogue</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionPanier</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionsBeans.GestionPanierLocal</local>
        <ejb-link>magasinEJB-ejb.jar#GestionPanier</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CreationDonnees</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionsBeans.CreationDonneesLocal</local>
        <ejb-link>magasinEJB-ejb.jar#CreationDonnees</ejb-link>
    </ejb-local-ref>
</web-app>
